<!--h1>QuestionsController#answer</h1>
<p>Find me in app/views/questions_controller/answer.html.erb</p>-->
<h2><%= @coach_question %>??</h2>
<p>-Your question</p>
<%= @answer_coach %>
<a href="ask">Ask another question!</a>

